{% extends "common/index.html" %}

{% block title %}{{ event.name }} - Somerville Events{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ event.description }}">
{% endblock %}

{% block css %}
{% include "common/detailed_event_body.css" %}
{% endblock %}

{% block feed_link %}
<link rel="alternate" type="application/activity+json" title="Somerville Events ActivityPub"
    href="/activitypub/event/{{ event.id }}">
{% endblock %}

{% block content %}
<article>
    <h1>{{ event.name }}</h1>
    {% include "common/detailed_event_body.html" %}
</article>
{% endblock %}