{% extends "common/layout.html" %}

{% block title %}{{ event.name }} - Somerville Events{% endblock %}

{% block css %}
    {% include "common/detailed_event_body.css" %}
{% endblock %}

{% block content %}
<article>
    <h1>{{ event.name }}</h1>
    {% include "common/detailed_event_body.html" %}
    <br>
    <br>
    <form action="/event/{{ event.id }}?_method=DELETE" method="post" style="text-align: right;">
        <button type="submit" class="button primary">Delete Event</button>
    </form>
</article>
{% endblock %}