/* Event List Layout */
.events-day {
    /* Full bleed pattern */
    margin-left: -1rem;
    margin-right: -1rem;
}

.events-day h2 {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    padding: 0.5rem 1rem 0.25rem;
    z-index: 10;
    border-bottom: 1px solid var(--button-border);
    opacity: 0.95;
    backdrop-filter: blur(5px);
}

/* Event Card */
.events-day > a {
    display: grid;
    grid-template-columns: 2.2rem 1fr auto;
    grid-template-rows: auto auto;
    column-gap: 0.75rem;
    row-gap: 0.1rem;
    align-items: baseline;
    padding: 0.8rem 1rem;
    background-color: var(--event-bg);
    color: var(--button-text);
    border-bottom: 1px solid var(--button-border);
    transition: background-color 0.1s;
}

.events-day > a:hover {
    text-decoration: none;
    background-color: var(--event-hover-bg);
}

.events-day > a:active {
    background-color: var(--event-active-bg);
}

.events-day > a > svg {
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
    width: 1.2rem;
    height: 1.2rem;
    stroke-width: 2.5;
}

.events-day > a > h3 {
    grid-column: 2;
    grid-row: 1;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.events-day > a > time {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    font-size: 0.9em;
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}

.events-day > a > small {
    grid-column: 3;
    grid-row: 2;
    color: var(--text-muted);
    text-align: right;
    font-size: 0.9em;
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}

.events-day > a > div {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.9em;
    color: var(--text-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
