name: CI

on:
  pull_request:

env:
  SQLX_OFFLINE: true

jobs:
  check:
    name: Checks
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Install sqlx-cli
        run: cargo install sqlx-cli --no-default-features --features postgres

      - name: Setup Database
        env:
          DB_SUPERUSER: postgres
          DB_SUPERDB: postgres
          PGHOST: localhost
          PGPORT: 5432
          DB_NAME: test
          DB_APP_USER_PASS: test
          DB_MIGRATOR_PASS: ${{ secrets.DB_MIGRATOR_PASS }}
        run: ./reset_database.sh

      - name: Check formatting
        run: cargo fmt -- --check

      - name: Lint with Clippy
        run: cargo clippy --all-targets -- -D warnings

      - name: Run tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
          HOST: 127.0.0.1
          BASIC_AUTH_USER: test
          BASIC_AUTH_PASS: test
          DB_APP_USER_PASS: test
          DB_NAME: test
          DATABASE_URL: postgresql://migrator:${{ secrets.DB_MIGRATOR_PASS }}@localhost/test
        run: cargo test
